.sidebar-container {
  display: flex;
  flex-direction: column;
  --sidebar-bg: #fff;
  --sidebar-hover-bg: #f7f7f7;
  --sidebar-active-bg: #eff6ff;
  --sidebar-active-text: #2563eb;
  --sidebar-btn-color: #9ca3af;
  --sidebar-btn-hover-bg: #fff1f0;
  --border-color: #f0f0f0;

  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border-color);
  z-index: 5;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  flex-shrink: 0;

  .sidebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
  }

  * {
    box-sizing: border-box;
  }

  &.collapsed {
    border-right-width: 0 !important;
    .sidebar-collapse-btn {
      margin-right: -55px;
    }
  }
}

.sidebar-footer {
  margin-top: auto;
  border-top: 1px solid var(--border-color);
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

html.dark .sidebar-container {
  --sidebar-bg: #141414;
  --sidebar-hover-bg: #1f1f1f;
  --sidebar-active-bg: #111b26;
  --sidebar-active-text: #3b82f6;
  --sidebar-btn-color: #595959;
  --sidebar-btn-hover-bg: #2a1215;
  --border-color: #303030;
}
