.session-list-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .session-list-scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .empty-text {
    padding: 20px;
    color: var(--sub-text-color);
    text-align: center;
  }
}
