html, body, #root, .ant-app {
  height: 100%;
  margin: 0;
}

.ant-app {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

[class*='material-symbols'] {
  user-select: none;
}

.material-symbols-outlined {
  font-size: 20px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #f0f0f0;
}

html.dark {
  --bg-color: #141414;
  --text-color: #ffffff;
  --border-color: #303030;
}
