html, body, #root, .ant-app {
  height: 100%;
  margin: 0;
}

.ant-app {
  display: flex;
  flex-direction: column;
}

.ant-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

[class*='material-symbols'] {
  user-select: none;
}

.material-symbols-rounded {
  font-size: 20px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}

:root {
  --bg-color: #ffffff;
  --sub-bg-color: #fcfcfc;
  --sub-sub-bg-color: #ececec;

  --text-color: #000000;
  --sub-text-color: #1b1b1b;
  --sub-sub-text-color: #303030;

  --border-color: #d0d0d0;
  --sub-border-color: #c0c0c0;
  --sub-sub-border-color: #a0a0a0;

  --tag-bg: #f9fafb;
  --tag-hover-bg: #f3f4f6;
  --code-bg: #f0f2f4;
  --code-border: #f1f5f9;
  --star-color: #f59e0b;
  --primary-color: #6366f1;
  --success-color: #0f766e;
  --warning-color: #b45309;
  --primary-text-color: #1d4ed8;
  --danger-color: #dc2626;
}

html.dark {
  --bg-color: #141414;
  --sub-bg-color: #262626;
  --sub-sub-bg-color: #303030;

  --text-color: #ffffff;
  --sub-text-color: #8c8c8c;
  --sub-sub-text-color: #a5a5a5;

  --border-color: #303030;
  --sub-border-color: #434343;
  --sub-sub-border-color: #595959;

  --tag-bg: #1f1f1f;
  --tag-hover-bg: #262626;
  --code-bg: #1e293b;
  --code-border: #334155;
  --star-color: #ffb81c;
  --primary-color: #818cf8;
  --success-color: #2dd4bf;
  --warning-color: #f59e0b;
  --primary-text-color: #60a5fa;
  --danger-color: #f87171;
}

.ant-select-dropdown
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--tag-hover-bg);
  color: var(--text-color);
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--primary-color);
  color: #ffffff;
}

.ant-select-dropdown
  .ant-select-item-option-selected.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--primary-color);
  color: #ffffff;
}
