.automation-view {
  display: flex;
  height: 100%;
  padding: 24px;
  overflow: hidden;

  &__left {
    width: 360px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__divider {
    width: 1px;
    background: var(--border-color);
    margin: 0 16px;
  }

  &__right {
    flex: 1;
    overflow: hidden;
    padding-right: 8px;
  }
}
