.knowledge-base-view__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.knowledge-base-view__title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.knowledge-base-view__title-icon {
  font-size: 24px;
  &.material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
  }
}

.knowledge-base-view__title-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  font-weight: 600;
}
